body {
  background: url(../assets/img/StudentLogFondo.png) no-repeat center center
    fixed;
  background-size: cover;
  background-size: 100% 100%;
}

.registro {
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40%;
  height: 65%;
  margin: auto;
  max-width: 30rem;
  box-shadow: 10px 16px 40px -11px rgba(0, 0, 0, 0.473);
}
.registro h1 {
  color: white;
  font-size: 3rem;
  margin-top: 3rem;
  font-weight: bold;
  letter-spacing: 4px;
  text-shadow: 5px 5px 3px rgba(150, 150, 150, 0.589);
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col-md-4 {
  width: 70%;
  margin: 1rem;
}

#volver,
#registrarse {
  color: white;
  font-weight: bold;
  margin: 0.5rem;
  letter-spacing: 1px;
}
